
/* Alapbeállítások */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.operator_container {
    display: flex;
    height: 100vh;              /* teljes képernyőmagasság */
}

/* Bal oldali menü (Box1) */
.operator_box1 {
    width: 12%;              /* kb. 1/6 szélesség */
    background-color: #681824;  /* csak láthatóság miatt */
    padding: 20px;
    border-right: 2px solid #ccc;
    font-family: Arial, sans-serif;
}

/* Jobb oldali tartalom konténer */
.operator_container2 {
    flex: 1;                    /* kitölti a maradék helyet */
    display: flex;
    flex-direction: column;     /* Box2 és Box3 egymás alatt */
}

/* Felső sáv (Box2) */
.operator_box2 {
    height: 60px;               /* keskeny felső sáv */
    background-color: #ffffff;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    display: flex;              /* flexbox bekapcsolása */
    justify-content: flex-end;  /* vízszintesen jobbra igazít */
    align-items: center;        /* függőlegesen középre igazít */
}

/* Alsó tartalom (Box3) */
.operator_box3 {
    flex: 1;                    /* kitölti a maradék helyet */
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;           /* ha sok tartalom van, görgethető */
}

.menu_items a:hover {
    color: #d6d6d6;                /* erősebb szín hoverre */
    font-weight: bold;          /* vastagabb lesz */
    background: #e0e0e000;        /* enyhe háttér */
}

.logo_category {
    height: 160px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 8px;
    background: #310a10;
    border-radius: 4px;
    color: #cdcbcb;
}

.menu_link {
    color: #efeded;
    font-family: "Segoe UI", Arial, sans-serif; /* modern font */
}